<h3>AddBugList</h3>
@page "/Bug/AddBugList"
@using Models
@inject BugTrackingProject.Data.ApplicationDbContext _context
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager


<div class="add-bug-form">
    <EditForm Model=@bug OnValidSubmit=@HandleValidSubmit>
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="bugHeading">Bug Title</label>
            <InputText id="bugHeading" class="form-control" @bind-Value="bug.BugHeading" />
        </div>

        <div class="form-group">
            <label for="productName">Product Name</label>
            <InputText id="productName" class="form-control" @bind-Value="bug.ProductName" />
        </div>

                <div class="form-group">
            <label for="component">Component</label>
            <InputText id="component" class="form-control" @bind-Value="bug.Component" />
        </div>

         <div class="form-group">
            <label for="loginName">User reporting the bug</label>
            <InputText id="loginName" class="form-control" @bind-Value="bug.LoginName" />
        </div>


        <div class="form-group">
            <label for="status">Status</label>
            <InputText id="status" placeholder="Open" readonly="true" disabled="@IsDisabled" @bind-Value="bug.Status" />
        </div>

        <div class="form-group">
            <label for="lastUpdated">Date and Time</label>
            <InputDate id="lastUpdated" class="form-control" Min="@MinVal" @bind-Value="bug.LastUpdated" />
        </div>

        <div class="form-group">
            <label for="BugDescription">Full Bug Description</label>
            <InputTextArea id="BugDescription" class="form-control" @bind-Value="bug.BugDesciption" />
        </div>

        <div class="form-group">
            <label for="SecondaryStatus">Secondary Status</label>
            <InputText id="SecondaryStatus" class="form-control" @bind-Value="bug.SecondaryStatus" />
        </div>

        <div class="form-group">
            <label for="Importance">Importance</label>
            <InputText id="Importance" class="form-control" @bind-Value="bug.Importance" />
        </div>

        <div class="form-group">
            <label for="EsitmatedTimeTaken">Esitmated Time Taken</label>
            <InputNumber id="EsitmatedTimeTaken" class="form-control" @bind-Value="bug.EstimateTimeTaken" />
        </div>


        <div class="form-group">
            <label for="TotalEstimatedTimeTaken">Total Esitmated Time Taken</label>
            <InputNumber id="TotalEstimatedTimeTaken" class="form-control" @bind-Value="bug.TotalEstimatedTimeTaken" />
        </div>

        <div class="form-group">
            <label for="ActualTimeTaken">Actual Time Taken</label>
            <InputNumber id="ActualTimeTaken" class="form-control" @bind-Value="bug.ActualTimeTaken" />
        </div>

        <div class="form-group">
            <label for="TotalTimeTaken">Total Time Taken</label>
            <InputNumber id="TotalTimeTaken" class="form-control" @bind-Value="bug.TotalTimeTaken" />
        </div>


        <button class="btn btn-primary" type="submit">Save Bug</button>
    </EditForm>

</div>

@code {
    public Bug bug = new Bug();  
    protected bool IsDisabled { get; set; }
    public DateTime MinVal { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, DateTime.Now.Hour, DateTime.Now.Minute, DateTime.Now.Second);


    public async void HandleValidSubmit()
    {
        try
        {
            if (string.IsNullOrEmpty(bug.Status)){
                bug.Status = "Open";
            }
            _context.Bugs.Add(bug);
            await _context.SaveChangesAsync();
            
        }
        catch
        {
            base.StateHasChanged();
        }
        bug = new Bug();
        base.StateHasChanged();
        
    }
}
