@page "/storyboardpage"
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Kanban
@using Syncfusion.Blazor.Data
@using Models
@using Data
@inject ApplicationDbContext _context



<AuthorizeView Roles="Admin, User">
    <NotAuthorized>
        <p>Sorry, you're can't login to this page.Please login.</p>
    </NotAuthorized>
    <Authorized>

        <SfKanban TValue="TasksModel" KeyField="Status" DataSource="Tasks">
            <KanbanColumns>
                <KanbanColumn HeaderText="To Do" KeyField="@(new List<string>() {"Open"})"></KanbanColumn>
                <KanbanColumn HeaderText="In Progress" KeyField="@(new List<string>() {"InProgress"})"></KanbanColumn>
                <KanbanColumn HeaderText="Testing" KeyField="@(new List<string>() {"Testing"})"></KanbanColumn>
                <KanbanColumn HeaderText="Done" KeyField="@(new List<string>() {"Close"})"></KanbanColumn>
            </KanbanColumns>
            <KanbanCardSettings HeaderField="Title" ContentField="Summary"></KanbanCardSettings>
        </SfKanban>

        <a href='/Storyboard/AddStoryboard' class="btn btn-outline-dark" role="button">
            Add Storyboard
        </a>
        <a href='/Storyboard/AddStoryboard' class="btn btn-outline-dark" role="button">
            Edit Storyboard
        </a>
        <a href='/Storyboard/AddStoryboard' class="btn btn-outline-dark" role="button">
            Delete Storyboard
        </a>
    </Authorized>
</AuthorizeView>

@code {

    public class TasksModel
    {
        public string Id { get; set; }
        public string Title { get; set; }
        public string Status { get; set; }
        public string Summary { get; set; }
    }

    public List<TasksModel> Tasks = new List<TasksModel>()
    {
        new TasksModel { Id = "T1", Title = "1", Status = "Open", Summary = "Open Task 1." },
        new TasksModel { Id = "T2", Title = "2", Status = "Open", Summary = "Open Task 2." },
        new TasksModel { Id = "T3", Title = "3", Status = "InProgress", Summary = "In-Progress Task 1" },
        new TasksModel { Id = "T4", Title = "4", Status = "Testing", Summary = "Testing 1." },
        new TasksModel { Id = "T5", Title = "5", Status = "Testing", Summary = "Testing 2." },
        new TasksModel { Id = "T6", Title = "6", Status = "Close", Summary = "closed 1" },
        new TasksModel { Id = "T7", Title = "7", Status = "Close", Summary = "closed 2" }
    };
}

